constantes*.*
globais/inc/constantes.php
tmp_files/*.*
globais/inc/database.php
tmp_files/
**/error_log
error_log
globais/admin/json/veiculos_novos/error_log
globais/admin/json/produtos/post.php
*.log
error*
globais/admin/json/veiculos_novos/error_log
globais/inc/constantes.php
*.insv
# Ou mais genérico: arquivos grandes de vídeo
*.mp4
*.avi
# etc.
